.app {
  display: flex;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aqua;
  background-color: hotpink;
  box-shadow: rgb(0, 0, 0);

}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.palette {
  display: flex;
  margin-left: -30px;
  flex-direction: row;
}

.brush {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1 {
background-color: aqua;
}

.color-2 {
background-color: rgb(250, 96, 96);
}

.color-3 {
background-color: rgb(255, 255, 255);
}

.color-4 {
background-color: rgb(253, 231, 110);
}

.color-5 {
background-color: rgb(194, 139, 249);
}
.color-6 {
background-color: rgb(244, 28, 175);
}
.color-7 {
background-color: rgb(0, 255, 81);
}
.color-8 {
background-color: rgb(242, 129, 0);
}
